/* =======================
   Layout
======================= */

.main {
    display: flex;
    height: 100%;
    font-family: sans-serif;
    min-height: calc(100vh - 72px); /* header 높이 고려 */
    padding-bottom: 120px;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 40px;
}

.left-fixed {
    position: fixed;
    top: 72px;              /* Navbar 아래 */
    left: 0;
    width: 420px;
    height: calc(100vh - 72px);
    padding: 32px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
    overflow-y: auto;
}
/* 지도 영역 */
.right-map {
    margin-left: 420px;     /* left-fixed 너비만큼 밀기 */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 기본 상태 */

.school-card-empty {
    color: #222;
}

.empty-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}

.empty-sub {
    font-size: 14px;
    color: #777;
}

/* Hover 카드 */

.school-card {
    max-width: 420px;
}

.school-card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 32px;
}

/* 텍스트 영역 */

.school-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.school-name {
    font-size: 22px;
    font-weight: 600;
}

.exhibition-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #555;
}

.exhibition-list li {
    margin-bottom: 4px;
}

/* 버튼 */

.view-btn {
    margin-top: 24px;
    background: none;
    border: none;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    color: #111;
    cursor: pointer;
    align-self: flex-start;
}

.view-btn:hover {
    text-decoration: underline;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

/* =======================
   Map
======================= */

.map-wrapper {
    position: relative;
    width: 100%;
    max-width: 900px;
}

.map {
    width: 100%;
    display: block;
    pointer-events: none;
}

/* =======================
   Marker
======================= */

.marker-wrapper {
    position: absolute;
}

.marker {
    width: 20px;
    height: 26px;
    cursor: pointer;
}

/* =======================
   Tooltip
======================= */

.tooltip {
    position: absolute;
    top: -12px;
    left: 28px;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 8px;
    z-index: 20;
    pointer-events: none;
}

.tooltip-img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 6px;
}

.tooltip-title {
    font-size: 12px;
    font-weight: 600;
    color: #222;
    text-align: center;
}

.tooltip-sub {
    font-size: 11px;
    color: #666;
    text-align: center;
    margin-top: 2px;
}
